<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FreshFood Administrator</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Plugins/fancybox/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/Content/sweetalert2.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/mystyle.css" rel="stylesheet" />
    <link href="~/Plugins/jQuery.filer.1.3.0/css/jquery.filer.css" rel="stylesheet" />
    <link href="~/Plugins/jQuery.filer.1.3.0/css/jquery.filer-dragdropbox-theme.css" rel="stylesheet" />
    <link href="~/Plugins/jQuery.filer.1.3.0/css/font.jquery-filer.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper d-flex">
        <aside id="left-panel" class="left-panel">
            <nav class="navbar navbar-expand-sm navbar-default">
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand logo" href="./"><b>Fresh<span>Food</span></b></a>
                    <a class="navbar-brand hidden" href="./">
                        <img src="images/avt.png" alt="Logo">
                    </a>
                </div>

                <div id="main-menu" class="main-menu collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="/"><i class="menu-icon fa fa-dashboard mr-3" title="Bảng Điều Khiển"></i>Bảng Điều Khiển</a>
                        </li>

                        <h3 class="menu-title">Sản Phẩm</h3>
                        <li>
                            <a asp-controller="Categories" asp-action="Index"><i class="menu-icon fa fa-th-list mr-3" title="Danh Mục Cấp Cha"></i>Danh Mục</a>
                        </li>
                        <li>
                            <a asp-controller="Product" asp-action="Index"><i class="menu-icon fa fa-product-hunt mr-3" title="Sản Phẩm"></i>Sản Phẩm</a>
                        </li>

                        <h3 class="menu-title">Người dùng</h3>
                        <li>
                            <a asp-action="Index" asp-controller="User"><i class="menu-icon fa fa-list-ul mr-3" title="Thể Loại Bài Viết"></i>Danh sách người dùng</a>
                        </li>
                        <li>
                            <a asp-action="Create" asp-controller="User"><i class="menu-icon fa fa-sticky-note mr-3" title="Bài Viết"></i>Thêm mới</a>
                        </li>

                        <h3 class="menu-title">Quản Lý</h3>
                        <li>
                            <a href="../admin/order-list.aspx"><i class="menu-icon fa fa-clipboard mr-3" title="Đơn Hàng"></i>Đơn Hàng</a>
                        </li>
                        <li>
                            <a href="../admin/reviews.aspx"><i class="menu-icon fa fa-comments-o mr-3" title="Đánh Giá"></i>Đánh Giá</a>
                        </li>
                        <h3 class="menu-title">Thiết Kế</h3>
                        <li>
                            <a href="../admin/banners.aspx"><span class="menu-icon fa fa-picture-o mr-3" title="Banner"></span>Banner</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </aside>
        <div id="content">
            <header class="header">
                <div class="row">
                    <div class="col-sm-8">
                        <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                        <div class="page-header float-left">
                            <h1>Xin chào, <span runat="server" id="a_FullName">@User.Identity.Name</span>!</h1>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="user-area-custome dropdown">
                            <a href="/admin/order-list.aspx">
                                <i class="fa fa-bell"></i>
                                <span id="span_Order" class="badge badge-danger badge-counter"></span>
                            </a>
                        </div>
                        <div class="user-area-custome">
                            <a href="/admin/reviews.aspx">
                                <i class="fa fa-comment"></i>
                                <span runat="server" id="span_Review" class="badge badge-danger badge-counter"></span>
                            </a>
                        </div>
                    </div>
                    @await Component.InvokeAsync("Navigation")
                    <div class="col-sm-1">
                        <div class="user-area dropdown float-right">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/images/avt.jpg" class="user-avatar rounded-circle" />
                            </a>
                            <div class="user-menu dropdown-menu">
                                <a id="a_ChangePassword" class="nav-link" href="/admin/admin-detail.aspx"><i class="fa fa-user mr-1"></i> Thông Tin</a>
                                <a class="nav-link" title="View" target="_blank" href="/Default.aspx"><i class="fa fa-eye mr-1"></i> Xem Trang Chủ</a>

                                <form method="post" asp-controller="User" asp-action="Logout">
                                    <button type="submit" class="nav-link">
                                        <i class="fa fa-power-off mr-1"></i> Đăng Xuất
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </header>
            <div class="workplace">
                    @RenderBody()
            </div>
        </div>
    </div>

    

    <div>
        <script src="~/Scripts/popper.js"></script>
        <script src="~/Scripts/jquery-3.0.0.js"></script>
        <script src="~/Plugins/tinyeditor/1.jquery.tinymce.min.js"></script>
        <script src="~/Plugins/tinyeditor/2.tinymce.min.js"></script>
        <script src="~/Plugins/tinyeditor/3.tinymce.customfunction.js"></script>
        <script src="~/Scripts/bootstrap.js"></script>
        <script src="~/Plugins/fancybox/jquery.fancybox.js"></script>
        <script src="~/Scripts/fullobf.js"></script>
        <script src="~/Scripts/script.js"></script>
        <script src="~/Scripts/sweetalert2.all.min.js"></script>
        <script src="~/Plugins/jQuery.filer.1.3.0/js/jquery.filer.js"></script>
        <script src="~/Plugins/jQuery.filer.1.3.0/js/jquery.filer.custom.js"></script>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
